################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/First/.vs/First
/Xml/Xml/.vs
/First/First
/FirstApp/FirstApp/bin/Debug/netcoreapp2.2
/FirstApp/FirstApp/obj
/FirstApp/.vs/FirstApp
/FirstApp/FirstApp/.vs/VSWorkspaceState.json
/FirstApp/FirstApp/FirstApp.csproj.user
/Trening/.vscode
/Trening/obj
/Trening/bin/Debug/netcoreapp2.2
/TelegramBot/.vs/TelegramBot
/TelegramBot/TelegramBot/bin/Debug/netcoreapp2.2
/TelegramBot/TelegramBot/obj/Debug/netcoreapp2.2
/TelegramBot/TelegramBot/obj
/kollektion/ConsoleApp2/bin/Debug/netcoreapp2.2
/kollektion/ConsoleApp2/obj
/Strings/Strings/bin/Debug/netcoreapp2.2
/Strings/Strings/obj
/Stwich/.vs
/Strings/.vs/Strings/v16
/kollektion/.vs/ConsoleApp2
/File/File/.vs
/File/File/obj/Release/netcoreapp2.2
/ConsoleApp2/ConsoleApp2/bin/Debug/netcoreapp2.2
/ConsoleApp2/ConsoleApp2/obj
/ConsoleApp2/.vs/ConsoleApp2/v16/Server/sqlite3
/ConsoleApp2/.vs/ConsoleApp2/v16
/ConsoleApp3/.vs/ConsoleApp3/v16/Server/sqlite3
/ConsoleApp3/ConsoleApp3/bin/Debug/netcoreapp2.2
/ConsoleApp3/ConsoleApp3/obj
/ConsoleApp3/.vs/ConsoleApp3
/Opencv/.vs/Opencv/v16
/Opencv/Opencv/bin/Debug/netcoreapp2.2
/Opencv/Opencv/obj/Debug/netcoreapp2.2
/Opencv/Opencv/obj
/primer/.vs/primer
/primer/primer/bin/Debug/netcoreapp2.2
/primer/primer/obj
/LINQS/.vs/LINQS/v16/Server/sqlite3
/PLinq/PLinq/obj
/PLinq/PLinq/bin/Debug/netcoreapp2.2
/PLinq/.vs/PLinq/v16
/Sborka musorov
/referensiyal/referensiyal/bin/Debug/netcoreapp2.2
/referensiyal/referensiyal/obj
/referensiyal/.vs/referensiyal
/PLinq/.vs/PLinq/DesignTimeBuild
/WorkFile/WorkFile/bin/Debug/netcoreapp2.2
/WorkFile/WorkFile/obj
/WorkFile/.vs/WorkFile/v16/Server/sqlite3
/WorkFile/.vs/WorkFile/v16
/WebApiApp/.vs/WebApiApp/v16
/WebApiApp/WebApiApp/obj
/WebApiApp/WebApiApp/Properties
/WebApiApp/WebApiApp/appsettings.Development.json
/WebApiApp/WebApiApp/appsettings.json
/WorkFile/.vs/WorkFile/DesignTimeBuild
/delegate/delegate/bin/Debug/netcoreapp2.2
/delegate/delegate/obj
/delegate/.vs/delegate
/dlinoy arifmetika/.vs/aasd
/dlinoy arifmetika/aasd/bin/Debug/netcoreapp2.2
/dlinoy arifmetika/aasd/obj
/Postgres/Postgres/bin/Debug/netcoreapp2.2
/Postgres/Postgres/obj/Debug/netcoreapp2.2
/Postgres/Postgres/obj
/Threads/Threads/obj
/Threads/Threads/bin/Debug/netcoreapp2.2
/Threads/.vs/Threads
/Webhost/Webhost/Properties
/Webhost/Webhost/obj/Debug/netcoreapp2.2
/Webhost/Webhost/obj/project.assets.json
/Webhost/Webhost/obj/Webhost.csproj.nuget.cache
/Webhost/Webhost/obj/Webhost.csproj.nuget.dgspec.json
/Webhost/Webhost/obj
/Webhost/Webhost/bin/Debug/netcoreapp2.2
/Webhost/Webhost/appsettings.Development.json
/Webhost/Webhost/appsettings.json
/Webhost/Webhost/index.html
/Webhost/.vs/Webhost/config
/Webhost/.vs/Webhost/DesignTimeBuild
/Webhost/.vs/Webhost/v16
/Allproekt/Allproekt/bin/Debug/netcoreapp2.2
/Allproekt/Allproekt/obj
/Chernavik/.vs/Chernavik/v16
/Chernavik/Chernavik/obj/Debug/netcoreapp2.2
/Chernavik/Chernavik/obj
/newproject
/Allproekt/.vs/Allproekt
